.recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 25px;
    padding: 20px;
    font-family: Chewy, Arial, sans-serif;
    font-size: 30px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 5px 10px #000000;

}

.button:hover {
    padding: 25px;
}

.blueButton {

    background-color: #aa76fc;

}

.redButton {
    background-color: #e54c61;
}

.buttonSecondaryText {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}